@mixin mobile {
    @media screen and (max-width:420px) {
        @content;
    }
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    height:100vh;
    background-image: linear-gradient(90deg, #BA55D3, #9932CC);
    @include mobile{
            background-image: linear-gradient(180deg, #BA55D3, #9932CC);
    }
}
main{
    height: 100%;
    display: grid;
    place-items: center;
}
.calc{
    overflow: hidden;
    border-radius: 10px;
    width: 30%;
    box-shadow: 0 0 15px 0 rgb(0 0 0 / 30%);

    @include mobile{
        width:75%;
    }
    &--display{
        background-color: #000;
        color: white;
        padding-block: 1rem;
        padding-inline: 0.5rem;
    }
    &--previous{
        font-size: 1rem;
        text-align: right;

    }
    &--result{
        font-size: 2rem;
        text-align: right;
    }
    &--keys{
        display: grid;
        grid-template-columns: repeat(4,1fr);
        gap: 0.2rem;
       background-color:#cbd2d9;
  
    }
  &--key{
    font-size: 1.5rem;
    display: block;
    outline: none;
    border: none;
    padding-block: 1rem;
    transition: all 20ms;
  }
}
 .number{
     background-color: #f5f7fa;
     &:active{
        background-color: darken($color: #f5f7fa, $amount: 5%);
     }
     
 }
 .number:first-child{
grid-column: 1;
 }

 .op{
    background-color: #e4e7eb;
    &:active{
        background-color: darken($color: #e4e7eb, $amount: 5%);
    }
 }
#switch{
    grid-row: 4;
    grid-column: 4;
}
 #equal{
    grid-column: 4;
    grid-row:5 ;
    background-color: #f9703e;
    &:active{
        background-color: darken($color:#f9703e , $amount: 5%);
    }
 }
 #clear{
        background-color: #f9413ef1;
        &:active{
            background-color: darken($color: #f9413ef1, $amount: 5%);
        }
 }
 #squared{
    grid-row: 2;
    grid-column: 4;
 }
 #root{
    grid-row: 3;
    grid-column: 4;

 }
button:not(.calc--key){
    display: none;
}

